.beer{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  box-shadow: 0 2px 2px 0 gray;
  p{
    height: 50px;
  }
  h5{
    height: 35px;
    margin: 10px 10px 0 10px;
  }
}