
.header {
  width: 100%;
  background: darkorange;
  padding-bottom: 10px;
  .info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
